<!-- filepath: /src/templates/homepage.html -->
{% extends "basetemplate.html" %}

{% block title %}Chatbot{% endblock %}

{% block content %}
<div id="chatMessageForm" class="card-body msg_card_body">
</div>
<div class="card-footer">
    <form id="chatMessageArea" class="input-group">
		<div class="form-group w-100 mb-3">
            <label for="claimsDropdown" class="form-label">Select Claim:</label>
            <select id="claimsDropdown" class="form-control">
                {% for claim in claims %}
                    <option value="{{ claim.claim_id }}">{{ claim.description }} - {{ claim.amount }} - {{ claim.status }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group w-100 mb-3">
            <label for="convoDropdown" class="form-label">Select Conversation:</label>
            <select id="convoDropdown" class="form-control">
                <option value="">** new conversation **</option>
                {% for convo in conversations %}
                    <option value="{{ convo.id }}"> {{ convo.id }} </option>
                {% endfor %}
            </select>
        </div>
        <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
        <div class="input-group-append">
            <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
        </div>
    </form>
</div>
{% endblock %}