Flask
azure-ai-inference[opentelemetry]
azure-identity
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
azure-storage-blob
azure.cosmos
azure-search-documents
azure-search
Flask
langchain
langchain-community
langchain-openai
langgraph
openinference.instrumentation.langchain
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-logging
opentelemetry-sdk
python-dotenv