azure.cosmos
azure-identity
Flask
langchain
langchain-community
langchain-openai
langgraph
python-dotenv
azure-monitor-opentelemetry
azure-identity
opentelemetry-sdk 
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-flask 
opentelemetry-api
opentelemetry-instrumentation-logging
azure-ai-inference[opentelemetry]
azure-storage-blob
azure-monitor-opentelemetry-exporter